<ion-card>
  <ion-card-header>
    <ion-card-title>Añadir proveedor</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <ion-text>
            <h4>Nombre</h4>
          </ion-text>
          <ion-input type="text" [(ngModel)]="supplier.nombre" name="nombre"></ion-input>
        </div>
        <div class="input-field col s6">
          <ion-text>
            <h4>Correo electrónico</h4>
          </ion-text>
          <ion-input type="text" [(ngModel)]="supplier.correo" name="correo"></ion-input>
        </div>
        <div class="input-field col s6">
          <ion-text>
            <h4>Contraseña</h4>
          </ion-text>
          <ion-input type="password" [(ngModel)]="supplier.password" name="password"></ion-input>
        </div>
        <div class="input-field col s6">
          <ion-text>
            <h4>Número de teléfono</h4>
          </ion-text>
          <ion-input type="number" [(ngModel)]="supplier.numero" name="numero"></ion-input>
        </div>
        <div class="input-field col s6">
          <ion-text>
            <h4>NIT</h4>
          </ion-text>
          <ion-input type="number" [(ngModel)]="supplier.NIT" name="NIT"></ion-input>
        </div>
        <div class="input-field col s6">
          <ion-text>
            <h4>Dirección</h4>
          </ion-text>
          <ion-input type="text" [(ngModel)]="supplier.direccion" name="direccion"></ion-input>
        </div>
        <ion-input type="submit" value="Añadir" class="btn"></ion-input>
      </div>
    </form>
  </ion-card-content>
</ion-card>

