#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.horizontal-cards{
  display: inline-block;
  height: 370px;
  width: 300px;
  align-items: center; 
  justify-content: center;
  background-color: white;
  // --border-color: #ecebea;
  margin: 1rem;
}

.rotate-180 {
  display: inline-block; 
  transform: rotate(180deg);
}

.btn1 {
  --background: #f6d83c;
  color: white;
  -webkit-text-stroke: 1px white;
}

.slides{
  margin: auto;
  display: block;
  background-color: white;
  // --background: #f6d83c;
  color: #FF8C00;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.label-header{
  color: #97918c;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  --background: #fff1c2;
}

ion-content {
  //font-family: "Poppins", sans-serif;
  //overflow: hidden;
  --background: white;
}

ion-toolbar {
  --background: #f6d83c;
}

ion-badge {
  --background: #f6d83c;
}

iconLogOut {
  color: #22bb33;
  --background: #f6d83c;
}

.iconCart {
  color: #22bb33;
  --background: #f6d83c;
}
