<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="logOut()">
        <ion-icon name="log-out" slot="icon-only" class=rotate-180></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      INSUMOS REQUERIDOS
    </ion-title>
    <ion-buttons slot="end">
      <ion-badge *ngIf="cartService.getCart().length > 0">{{ cartService.getCart().length }}</ion-badge>
      <ion-button  (click)="openCart()">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- <button ion-button icon-only (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0" style="position: absolute;
          top: -0.2rem;
          right: -0.2rem;
          opacity: 0.9;">{{ cart.length }}</ion-badge>
        <ion-icon name="cart" style="margin-right: 1.2rem;"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="cantidadInsumosRequeridos() != 0;else emptyMessage"> 
    <ion-slides [options]="sliderConfig" class="slides">
      <ng-container *ngFor="let item of Insumos">
        <ion-slide *ngIf='item.data.stock <= item.data.stockMinimo'>
          <ion-card class="horizontal-cards">
            <ion-item class="label-header">
              <ion-label style="text-transform: uppercase;"><b>{{item.data.insumo}}</b></ion-label>
              <ion-button  [disabled]="itemAdded(item)" (click)="addToCart(item)" class="btn1" shape="round" expand="block">
                <ion-icon name="add-outline" class="iconCart"></ion-icon>
                <ion-icon name="cart-outline" class="iconCart"></ion-icon>
              </ion-button>
            </ion-item>
          
            <ion-card-content>
              Decripción: {{item.data.descripcion}}
            </ion-card-content>
            <ion-card-content>
              Cantidad requerida: {{item.data.stockMinimo}} {{ item.data.unidad }}.
            </ion-card-content>
            <ion-img style="height: 25vh; max-width: auto;" [src]="item.data.img"></ion-img>
            <!--ion-img style="height: auto; max-width: auto;" [src]="item.data.Img"></ion-img-->
          </ion-card>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>
  <ng-template #emptyMessage>
    <div id="container">
      <p>No hay insumos requeridos por el momento</p>
    </div>
  </ng-template>

  <!--ion-list *ngIf="Tareas.length != 0">
    <ion-card class="horizontal-cards" *ngFor="let item of Tareas">
      <ion-item>
        <ion-label style="text-transform: uppercase;"><b>{{item.data.Insumo}}</b></ion-label>
        <ion-button (click)="addToCart(item)">
          <ion-icon name="add-outline"></ion-icon>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ion-item>
    
      <ion-card-content>
        Decripción: {{item.data.Descripcion}}
      </ion-card-content>
      <ion-card-content>
        Cantidad requerida: {{item.data.Stock}}
      </ion-card-content>
      <ion-img style="height: 25vh; max-width: auto;" [src]="item.data.Img"></ion-img>
    </ion-card>
  </ion-list-->

</ion-content>
