<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="logOut()">
        <ion-icon name="log-out" slot="icon-only" class=rotate-180></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      INSUMOS REQUERIDOS
    </ion-title>
    <ion-buttons slot="end">
      <ion-badge *ngIf="cartService.getCart().length > 0">{{ cartService.getCart().length }}</ion-badge>
      <ion-button  (click)="openCart()">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="cantidadInsumosRequeridos() != 0;else emptyMessage" > 
    <ion-list style="margin-left: 35px">
      <ng-container  *ngFor="let item of Insumos" class="" style="display: inline-block;">
        
          <ion-card class="horizontal-cards" *ngIf='item.data.stock <= item.data.stockMinimo'>
            <ion-item class="label-header">
              <ion-label style="text-transform: uppercase;"><b>{{item.data.insumo}}</b></ion-label>
              <ion-button  [disabled]="itemAdded(item)" (click)="addToCart(item)" class="btn1" shape="round" expand="block">
                <ion-icon name="add-outline" class="iconCart"></ion-icon>
                <ion-icon name="cart-outline" class="iconCart"></ion-icon>
              </ion-button>
            </ion-item>
          
            <ion-card-content>
              Decripción: {{item.data.descripcion}}
            </ion-card-content>
            <ion-card-content>
              Cantidad requerida: {{item.data.stockMinimo}} {{ item.data.unidad }}.
            </ion-card-content>
            <ion-img style="height: 25vh; max-width: auto;" [src]="item.data.img"></ion-img>
          </ion-card>
      
      </ng-container>
    </ion-list>
  </div>
  <ng-template #emptyMessage>
    <div id="container">
      <p>No hay insumos requeridos por el momento</p>
    </div>
  </ng-template>

</ion-content>
