<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>
          Registro de Proveedor
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Llene los siguientes datos:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onSubmit()" class="col s6">
          <div class="row">
            <div class="input-field col s6">
              <ion-text>
                <h4>Nombre</h4>
              </ion-text>
              <ion-input type="text" [(ngModel)]="supplier.nombre" name="nombre"></ion-input>
            </div>
            <div class="input-field col s6">
              <ion-text>
                <h4>Correo electrónico</h4>
              </ion-text>
              <ion-input type="text" [(ngModel)]="supplier.correo" name="correo"></ion-input>
            </div>
            <div class="input-field col s6">
              <ion-text>
                <h4>Contraseña</h4>
              </ion-text>
              <ion-input type="password" [(ngModel)]="supplier.contrasena" name="password"></ion-input>
            </div>
            <div class="input-field col s6">
              <ion-text>
                <h4>Número de teléfono</h4>
              </ion-text>
              <ion-input type="tel" maxlength="7" [(ngModel)]="supplier.telefono" name="numero"></ion-input>
            </div>
            <div class="input-field col s6">
              <ion-text>
                <h4>NIT</h4>
              </ion-text>
              <ion-input type="tel" maxlength="7" [(ngModel)]="supplier.nit" name="NIT"></ion-input>
            </div>
            <div class="input-field col s6">
              <ion-text>
                <h4>Dirección</h4>
              </ion-text>
              <ion-input type="text" [(ngModel)]="supplier.direccion" name="direccion"></ion-input>
            </div>
            <ion-input type="submit" value="Registrarse" class="btn1"></ion-input>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    </div>
</ion-content>

